<div class="top-page">
    <% @page_title="このサイトについて" %>
    <h1><%= @page_title %></h1>
    <p>このサイトは就活を支援することを目的としたアプリケーションです。</p>

    <p>
        このサイトを作った経緯としては、私自身も就活生として就活に勤しんでいる中、
        こんなアプリケーションがあったら便利だろうなと思う機能を追加しました。
    </p>

    <h4>ID・パスワード管理</h4>
    <p>就活を進めていく中で、企業ごとの採用ホームページやその複雑なIDが存在し、
        把握するのが大変と思ったことから、それらを管理し、数が膨大になっても
        検索機能ですぐに探せるようになっています。
    </p>

    <h4>スケジュール管理</h4>
    <p>
        就活生にとって、スケジュールを管理できる能力も一つの重要なスキルと言えるでしょう。
        こちらも検索機能があるため、何かありそうなときは検索してみるといったことができます。
    </p>

    <h4>メール</h4>
    <p>こちらは企業や就活サイトから送られてくる多くのメールを必要な時に検索し取り出せるように
        設計していますが、セキュリティの問題や利便性の問題から試作段階です。
    </p>

    <h4>企業分析</h4>
    <p>
        こちらは企業情報をメモしておく場所です。企業の財務状況や決算情報をメモするのもよし、
        説明会の内容をメモするのもよしと活用の仕方は様々です。
    </p>

    <h4>各種検索</h4>
    <p>こちらは企業分析など、就活生がよく利用するであろう情報サイトをわざわざ検索エンジンで
        検索することなく、飛ぶことができます。また、その情報サイトの検索機能が実行された状態に
        リンクされていますので、いくらか手間が省けるのではないでしょうか？
    </p>

    <h4>口コミ</h4>
    <p>
        就活するにあたって、重要なことは情報収集です。こちらでは、就活生またはOBなどが
        企業情報の共有を図る場所です。
    </p>
</div>