<% if @user.errors.present? %>
    <div id="errors">
        <h3>登録時にエラーがあります。</h3>
        <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>